*{
    list-style: none;
    
}
/* =============================================SideBar============================================================ */
.main-back{
    background-color: #F2EAE1;
}
.main-title{
    text-align: center;
}
.admin{
    margin-top: 5px;
    text-align: center;
}
.img{
    border: 1px solid gray;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.navLinks li{
    font-weight: bold;
}
.navLinks li a{
    text-decoration: none;
    color:black;
}
.navLinks li:hover{
    background-color: #E6A208;
}
.navLinks li .active{
    background-color: #E6A208;

}
.layout-container {
    display: flex;
  }
  .sidebar {
    display: block;
  }
  .main-content {
    flex-grow: 1;
  }
@media (max-width:576px) {
    .sidebar {
        display: none; /* Hide sidebar */
      }
    .main-content {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .sidebar {
      display: none;
    }
  
    .main-content {
      width: 100%;
    }
  }
/* =================================================Dashboard============================================================================ */

.nav-color{
color: black;
}
.nav-color:hover{
    color: #E6A208;
}
/* =================================================add post============================================================================ */
.backgound {
    min-height: 100vh;
    background: linear-gradient(to right, #FEAF00, #F8D442);
    display: flex;
    justify-content: center;
    align-items: center;
  }